.App {
    background-image: url("bg.jpeg");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    font-size: 1.1rem;
    color: #282828;
    padding-bottom: 150px;
}
.App > div:first-child {
    background-color: rgba(187, 187, 187, 0.67);
    padding: 15px 0 15px 15px;
}
.header {
    padding: 25px;
}