.App {
    background-image: url("bg.jpeg");
    height: 100%;
    background-size: cover;
    background-position: center;
    font-size: 1.1rem;
    color: #282828;
    padding-bottom: 150px;
}
.App > div {
    background-color: rgba(187, 187, 187, 0.67);
    padding: 15px 0 15px 15px;
}
.App > div > h3 {
    color: rgba(5, 0, 0, 0.51);
    text-transform: uppercase;
}
.header {
    padding: 25px;
}