.affairs_wrapper {
    padding-top: 5px;

}
.affairs_wrapper ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 15px;
}
.affairs_wrapper li {
    list-style: none;
}
.affairs_wrapper li:first-child {
    width: 100px;
}
.affairs_wrapper button {
    background-color: forestgreen;
    width: 70px;
    margin-left: 20px;
}
.taskName {
    font-weight: bold;
}
.low {
    color: forestgreen;
}
.middle {
    color: darkorange;
}
.high {
    color: #b50706;
}