
.column {
    display: flex;
    flex-direction: column;

}

.btnGroup {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 25px;
    margin-top: 15px;
    width: max-content;
}
.btnGroup > h2 {
    margin-top: 0;
}
.btnGroup > button {
    margin-left: 20px;
}
.styledInput {
    --omrs-color-interaction: blue;
}
